*.ncd.enum.hh
*.ncd.hh
*.ncd.cc
*.o
*.pyc
sph-1d
sph-2d
sph-3d
sph-scene
*.tex
*.in
/autom4te.cache
/aclocal.m4
config
configure
config.log
config.status
config.h
*~
/Makefile
/sph/Makefile
/sph/sh/Makefile
/sph/src/Makefile
/sph/tests/Makefile
/utility/Makefile
.deps
cppunittestmain
/sph/vtk/test-cases2
/stamp-h1
/version.txt
